*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* Color styles */
--title: #E53170;
--bg-card: #0F0E17;
--email: #2ABAEB;
--role: #DFE7EA;
}

.container{
    max-width: 90vw;
    margin: 0 auto;
}

h1{
    color: black;
    text-transform: capitalize;
    color: var(--title);
    margin-top: 2rem;
}

h1, p{
    text-align: center;
}

p{
    margin-top: 5rem;
}