*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* Color styles */
--title: #E53170;
--bg-card: #0F0E17;
--email: #2ABAEB;
--role: #DFE7EA;
}

.clearfix::after{
    content:'';
    display: table;
    clear: both;
}


.container{
    max-width: 1400px;
    margin: 0 auto;
}

h1{
    color: black;
    text-transform: capitalize;
    color: var(--title);
    margin-top: 2rem;
}

h1, p{
    text-align: center;
}

header p{
    margin-top: 5rem;
}

.cardContainer{
    margin: 2rem 0;
}

.card{
    width: calc((100%/3) - 2rem);
    height: 150px;
    background-color: var(--bg-card);
    color: white;
    box-shadow: 0 0 20px 1px #A1A1A1;
    float: left;
    margin: 0 1rem;
   
}

.card img {
    width: 150px;
    float: left;
    margin-right: 1rem;
}

.textContainer{
    height: 100%;
    padding: 1.5rem 0;
}

div .card p{
    text-align: left;
    font-size: 1rem;
}

div .card p:first-of-type{
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: .5rem;
}

div .card p:last-of-type{
    color: var(--email);
    margin-top: .5rem;
}
